<div class="container-fluid cart-box hide">
    <!-- remove icon -->
    <span class="cart-close">
        <i class="fa fa-remove"></i>
    </span>

    <aside class="cart-container">
        <h4 class="text-dark">My Cart</h4>
        <div class="cart-items">
            <!-- cartitems displayed here -->
        </div>
        <div class="cart-total">
            <p class="h5 text-dark">TOTAL : </p>
           <span>KES. <span class="cart-total-price">300</span></span>
        </div>
        <a href="/checkout" style="display: block; max-width: 150px;" class="btn btn-primary mt-2 mx-auto purchase-btn">Buy Now</a>
    </aside>
</div>