<!DOCTYPE html>
<html lang="en">
<head>
<title>Error</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mmusify error form responsive" />
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="/css/errors.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
    {{{body}}}
</body>
<script src="/js/err.js"></script>
</html>