<div class="main-banner inner" id="home">
    <!-- header -->
    {{>header}}
    <!-- /header -->
</div>

<!---->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/index">Home</a>
    </li>
    <li class="breadcrumb-item active">Single Page</li>
    <li data-num="0" class="cart"><i class="fa fa-shopping-cart"></i></li>
</ol>
<!---->
<!-- cart items -->
<div class="container cart-box">
    <aside class="cart-container hide">
        <h4 class="text-muted">Shopping bag</h4>
        <div class="cart-items">
            <!-- cartitems displayed here -->
        </div>
        <div class="cart-total">
            <p class="h5 text-muted">TOTAL : </p>
           <span>KES. <span class="cart-total-price">300</span></span>
        </div>
        <a href="#" class="btn btn-primary">Buy Now</a>
    </aside>
</div>
<!-- /cart items -->

<!-- banner -->
<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-3">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div class="side-bar col-lg-4">

                <div class="search-bar w3layouts-newsletter">
                    <h3 class="sear-head">Search Here..</h3>
                    <form action="#" method="post" class="d-flex">
                        <input type="search" placeholder="Product name..." name="search" class="form-control" required="">
                        <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
                <!--preference -->
                <div class="left-side my-4">
                    <h3 class="sear-head">Occasion</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Casuals</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Party</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Wedding</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Ethnic</span>
                        </li>
                    </ul>
                </div>
                <!-- // preference -->
                <!-- discounts -->
                <div class="left-side">
                    <h3 class="sear-head">Discount</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">5% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">10% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">20% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">30% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">50% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">60% or More</span>
                        </li>
                    </ul>
                </div>
                <!-- //discounts -->
                <!-- reviews -->
                <div class="customer-rev left-side my-4">
                    <h3 class="sear-head">Customer Review</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span>5.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>4.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>3.5</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>3.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>2.5</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //reviews -->
                <!-- deals -->
                <div class="deal-leftmk left-side">
                    <h3 class="sear-head">Special Deals</h3>
                    <div class="special-sec1 row mb-3">
                        <div class="img-deals col-md-4">
                            <img src="/images/s4.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="img-deal1 col-md-4">
                            <h3>Shuberry Heels</h3>
                            <a href="/product">KES180.00</a>
                        </div>

                    </div>
                    <div class="special-sec1 row">
                        <div class="img-deals col-md-4">
                            <img src="/images/s2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="img-deal1 col-md-8">
                            <h3>Chikku Loafers</h3>
                            <a href="shop-single.html">KES99.00</a>
                        </div>

                    </div>
                    <div class="special-sec1 row my-3">
                        <div class="img-deals col-md-4">
                            <img src="/images/s1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="img-deal1 col-md-8">
                            <h3>Bella Toes</h3>
                            <a href="shop-single.html">KES165.00</a>
                        </div>

                    </div>
                    <div class="special-sec1 row">
                        <div class="img-deals col-md-4">
                            <img src="/images/s5.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="img-deal1 col-md-8">
                            <h3>Red Bellies</h3>
                            <a href="shop-single.html">KES225.00</a>
                        </div>

                    </div>
                    <div class="special-sec1 row mt-3">
                        <div class="img-deals col-md-4">
                            <img src="/images/s3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="img-deal1 col-md-8">
                            <h3>(SRV) Sneakers</h3>
                            <a href="/product">KES169.00</a>
                        </div>

                    </div>
                </div>
                <!-- //deals -->

            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="left-ads-display col-lg-8">
                <div class="row">
                    {{#if products}}
                        {{#each products}}
                            <div class="col-md-4 product-men">
                                <div class="product-shoe-info shoe text-center">
                                    <div class="men-thumb-item">
                                        <img src="/za/product/image/{{_id}}" class="img-fluid item-image" alt="">
                                        <span class="product-new-top">New</span>
                                    </div>
                                    <div class="item-info-product">
                                        <h4>
                                            <a href="/product/{{_id}}" class="item-name">{{name}}</a>
                                        </h4>
        
                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money item-price">KES. {{trimPrice price}}</span>
                                            </div>
                                        </div>
                                        <button data-identity="{{_id}}" class="btn m-1 cart-add-btn">ADD TO CART</button>
                                        <ul class="stars">
                                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <p class="text-muted">There are no products available!</p>
                    {{/if}}
                    
                </div>
                <div class="grid-img-right mt-4 text-right">
                    <span class="money">Flat 50% Off</span>
                    <a href="/products" class="btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //contact -->

<!-- footer -->
{{>footer}}
<!-- //footer -->

<script src="/js/monitor.js"></script>
<script src="/js/cart.js"></script>